Dummy_ServiceComposability/src/main/resources/xsd/ORIGEN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="nombres"/>
        <xs:element type="xs:string" name="apellidos"/>
        <xs:element type="xs:int" name="dni"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
